[submodule "myblog/themes/d3c3nt"]
	path = myblog/themes/d3c3nt
	url = git://git.figbert.com/d3c3nt.git
[submodule "myblog/themes/themes/juice"]
	path = myblog/themes/themes/juice
	url = https://github.com/huhu/juice
[submodule "myblog/themes/tilde"]
	path = myblog/themes/tilde
	url = https://git.sr.ht/~savoy/tilde
[submodule "myblog/themes/zola-paper"]
	path = myblog/themes/zola-paper
	url = https://github.com/schoenenberg/zola-paper.git
